<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <style>
      html {
        font-size: 12px;
        word-wrap: break-word;
      }

      ol {
        list-style-type: none;
        counter-reset: elementcounter;
        padding-left: 0;
      }

      li:before {
        content: "Step " counter(elementcounter) ". ";
        counter-increment: elementcounter;
        font-weight: bold;
      }
   </style>
  </head>
  <body style="padding:5px">
    <div class="accordion-flush" id="apiwrapper">
    <?for (var i=0;i<data.length;i++) {
      var action=data[i]?>
      <div class="accordion-item">
        <h2 class="accordion-header" id="<?=('heading'+i)?>">
          <button class="accordion-button collapsed" 
            type="button" 
            title="<?=action.description?>"
            data-bs-toggle="collapse" 
            data-bs-target="<?=('#collapse'+i)?>" 
            aria-expanded="false" aria-controls="<?=('collapse'+i)?>">
            <?=(action.display_name.substring(0,30)+((action.display_name.length>=30)?"...":""))?>
          </button>
        </h2>
        <div id="<?=('collapse'+i)?>" 
          class="accordion-collapse collapse" 
          aria-labelledby="<?=('heading'+i)?>"
          data-bs-parent="#apiwrapper">
          <div class="accordion-body">
            <div title="automated" class="text-end">
              <?if (action.automated=='false'){?> 
                <span class="badge bg-warning">customized</span> 
                <?} else {?>
                <span class="badge bg-success">automated</span>
                <?}?>
              </div>
            <div><strong><?=action.display_name?></strong></div>
            <div><?=action.description?></div>
            <hr>
            <div title="endpoint"><?=action.endpoint?></div>
            <div title="reference"><a href="<?=action.reference?>" target="_blank">Canvas API reference</a></div>
            <hr/>
            <ol title="steps">
            <?var steps=action.guide
            if (steps!=null){?>
            <?for (var j=0;j<steps.length;j++) {?>
              <li><?!=steps[j]?></li>
            <?}?>
            <?}else{?>
              <?if(action.params.length>0){?>
                <li>Select an empty cell to start</li>
                <li><button type="button" class="btn btn-primary" id="btnGenTemp" onclick="(function (){onCall();google.script.run.withSuccessHandler(onSuccess).withFailureHandler(onFailure).generateParamTemplate('<?=(action.controller)?>.<?=action.name?>');})();return false;">Get parameters</button></li>
                <li>Enter values</li>
                <li>Select the range of the light blue area of the parameter template</li>
              <?}?>
              <li><button type="button" class="btn btn-primary" id="btnCallAPI" onclick="(function (){onCall();google.script.run.withSuccessHandler(onSuccess).withFailureHandler(onFailure).callCanvasAPIwithRangeParams('<?=action.endpoint?>');})();return false;">Call API</button></li>
            </ol>
            <?}?>
            </ol>
          </div>
        </div>
      </div>
    <?}?>
    </div>
    <div class="fixed-bottom alert alert-primary m-2 text-center d-none" id="result">
      <div class="float-start" id="status">status</div>
      <a href="#" class="float-end text-decoration-none" data-dismiss="alert" onclick="closeStatus()">&times;</a>
    </div>
    <script>
      function onSuccess() {
        changeStyle('alert-success');
        updateStatus('<div>API Call Completed!</div>');
      }
      function onFailure(error) {
        changeStyle('alert-danger');
        updateStatus('<div>API Call Failed!</div><div class="text-start">'+error+'</div>');
      }
      function onCall(){
        showStatus();
        changeStyle('alert-primary');
        updateStatus('<div class="spinner-border spinner-border-sm pr-2" role="status"></div><span> Working...</span>');
      }
      function closeStatus(){
        var div = document.getElementById('result');
        div.classList.add("d-none");    
      }
      function showStatus(){
        var div = document.getElementById('result');
        div.classList.remove("d-none");
      }
      function changeStyle(newstyle){
        var div = document.getElementById('result');
        div.classList.remove("alert-success");
        div.classList.remove("alert-danger");
        div.classList.remove("alert-primary");
        div.classList.add(newstyle);
      }
      function updateStatus(status){
        var div_status = document.getElementById('status');
        div_status.innerHTML = status;
      }
    </script>
  </body>
</html>
