<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <style>
      html {
        font-size: 14px;
        word-wrap: break-word;
      }

      ol {
        list-style-type: none;
        counter-reset: elementcounter;
        padding-left: 0;
      }

      li:before {
        content: "Step " counter(elementcounter) ". ";
        counter-increment: elementcounter;
        font-weight: bold;
      }
   </style>
  </head>
  <body style="padding:5px">
    
    
    <form>
        <ol>
            <li>
                <div class="form-group">
                    <label for="coursenames">Select course name range</label>
                    <!--
                    <input type="text"  class="form-control" id="coursenames" aria-describedby="coursenamesHelp" placeholder="Enter range" value="<?=data?>" onClick="getSelectedRange(this);">-->
                    <small id="coursenamesHelp" class="form-text text-muted">Must include a column with header "name". A column of course ids with header "id" will be helpful.</small>
                </div>
            </li>
            <li><button type="button" class="btn btn-primary" onclick="getCourseInfo();">Get Courses Info</button></li>
            <li>
                <div class="form-group">
                    <label for="courseinfo">Select all courses range</label>
                    <!--
                    <input type="text"  class="form-control" id="courseinfo" aria-describedby="courseinfoHelp" placeholder="Enter range" value="" onClick="getSelectedRange(this);">-->
                    <small id="courseinfoHelp" class="form-text text-muted">Must include columns with headers course_id, start_at, end_at</small>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="updateduedate">
                    <label class="form-check-label" for="updateduedate">Update assignments date</label>
                </div>
            </li>
            <li><button type="button" class="btn btn-primary" onclick="updateCourseDates();">Update Courses</button></li>
        </ol>
        
      </form>
    <div class="fixed-bottom alert alert-primary m-2 text-center d-none" id="result">
      <div class="float-start" id="status">status</div>
      <a href="#" class="float-end text-decoration-none" data-dismiss="alert" onclick="closeStatus()">&times;</a>
    </div>
    <script>
      function onSuccess() {
        changeStyle('alert-success');
        updateStatus('<div>API Call Completed!</div>');
      }
      function onFailure(error) {
        changeStyle('alert-danger');
        updateStatus('<div>API Call Failed!</div><div class="text-start">'+error+'</div>');
      }
      function onCall(){
        showStatus();
        changeStyle('alert-primary');
        updateStatus('<div class="spinner-border spinner-border-sm pr-2" role="status"></div><span> Working...</span>');
      }
      function closeStatus(){
        var div = document.getElementById('result');
        div.classList.add("d-none");    
      }
      function showStatus(){
        var div = document.getElementById('result');
        div.classList.remove("d-none");
      }
      function changeStyle(newstyle){
        var div = document.getElementById('result');
        div.classList.remove("alert-success");
        div.classList.remove("alert-danger");
        div.classList.remove("alert-primary");
        div.classList.add(newstyle);
      }
      function updateStatus(status){
        var div_status = document.getElementById('status');
        div_status.innerHTML = status;
      }
      function getSelectedRange(txtbox){
        onCall();
        google.script.run                       // Executes a Apps Script JS Function
          .withSuccessHandler(updateTextField)  // function to be called upon successfull completion of Apps Script function
          .withUserObject(txtbox)          // To pass the event element object
          .getSelectedRange();                  // Apps Sript JS Function
        return;
      }
      
      // Function to be called on success
      function updateTextField(range,txtbox){
        changeStyle('alert-success');
        updateStatus('<div>Range was copied.</div>');

        txtbox.value = range; // Update the text field value
        txtbox.select();

      }

      function getCourseInfo(){
        onCall();
        //var txtrng=document.getElementById("coursenames")
        google.script.run                       // Executes a Apps Script JS Function
          .withSuccessHandler(onSuccess)    // function to be called upon successfull completion of Apps Script function
          .withFailureHandler(onFailure)
          .getCoursesInfo();                  // Apps Sript JS Function
        return;
      }

      function updateCourseDates(){
        onCall();
        //var txtrng=document.getElementById("courseinfo")
        google.script.run                       // Executes a Apps Script JS Function
          .withSuccessHandler(onSuccess)    // function to be called upon successfull completion of Apps Script function
          .withFailureHandler(onFailure)
          .updateCourseDates();                  // Apps Sript JS Function
        return;
      }


    </script>
  </body>
</html>
